@font-face {
    font-family: 'CustomFont';
    src: url('../../assets/fonts/brigendsexpanded.otf') format('truetype');
    /* Add other font-face properties here if needed */
  }
  
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .rectangle__container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 80vh;
    }
    .rectangle1{
        position: absolute;
        height: 80vh;
        width: 70px;
        background-color: #F9E392;
        margin-right: 30px;
    }
    .rectangle2{
        position: absolute;
        height: 80vh;
        width: 40px;
        background-color: #F8A68D;

    }
    .rectangle3{
        position: absolute;
        height: 80vh;
        width: 30px;
        background-color: #95D5ED;
        margin-left: 60px;
    }

    .box1{
        position: absolute;
        top: 30;
        left: 0;
        margin-left: 200px;
        height: 50px;
        width: 50px;
        background-color: #F8A68D;
        border-radius: 30px;
        margin-top: 10px;
        padding: 30px;
    } 
    .character1{
        position: absolute;
        top: 40;
        left: 0;
        margin-left: 220px;
        width: 70px;
        height: 100px;
    }
    .box2{
        position: absolute;
        top: 40;
        right: 10;
        margin-left: 360px;
        height: 50px;
        width: 50px;
        background-color: #FAE38F;
        border-radius: 30px;
        margin-top: 10px;
        padding: 30px;
    } 
    .character2{
        position: absolute;
        top: 40;
        right: 10;
        margin-left: 385px;
        width: 70px;
        height: 100px;
    }
    .box3{
        position: absolute;
        top: 40;
        right: 10;
        margin-left: 320px;
        height: 50px;
        width: 50px;
        background-color: #000000;
        border-radius: 30px;
        margin-top: 10px;
        padding: 30px;
    } 
    .character3{
        position: absolute;
        top: 40;
        right: 10;
        margin-left: 340px;
        width: 70px;
        height: 100px;
    }
    .box4{
        position: absolute;
        top: 30;
        left: 0;
        margin-left: 250px;
        height: 50px;
        width: 50px;
        background-color: #95D5ED;
        border-radius: 30px;
        margin-top: 10px;
        padding: 30px;
    } 
    .character4{
        position: absolute;
        top: 40;
        left: 0;
        margin-left: 270px;
        width: 70px;
        height: 100px;
    }
    &__hero{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 100px;
        &__title{
            position: relative;
            font-size: 6rem;
            max-width: 600px;
            font-weight: 500;
            margin-bottom: 1rem;
            color: #150A44;
            font-family: 'CustomFont', sans-serif;
            line-height: 1;
            padding: 0 100px;
        }
    }

    &__fact{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 150px;
        width: 300px;
        background-color: #2A29E8;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: 41px;
        padding: 30px;

        &__title{
            font-size: 1.5rem;
            max-width: 600px;
            font-weight: 500;
            margin-bottom: 1rem;
            color: #F8E48F;
            font-family: 'CustomFont', sans-serif;
            line-height: 1;
        }
        &__content{
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            max-width: 600px;
            font-weight: 500;
            margin-top: 1rem;
            color: #F8E48F;
            line-height: 1.5;
        }
    }
}