.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo{
        height: 100px;
        font-size: 10px;
        margin: 30px;
        color: #150A44;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: 20px;
        margin: 30px;

        .circle{
            position: absolute;
            height: 50px;
            width: 50px;
            background-color: #2A29E8;
            border-radius: 30px;
            cursor: pointer;
        }
        &__icon{
            font-size: 70px;
            position: relative;
            margin-left: 12px;
            cursor: pointer;
        }
    }
}