.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo{
        height: 100px;
        font-size: 10px;
        margin: 30px;
        color: #150A44;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: 20px;

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 0;
            li{
                margin-top: 50px;
                margin-right: 30px;
                padding: 0;
                font-weight: 300;
                color: #2A29E8;
                cursor: pointer;
                text-decoration: none;
                position: relative;
          
                &:before {
                  content: '';
                  position: absolute;
                  width: 0;
                  height: 1px;
                  background-color: #2A29E8;
                  top: 30px; /* Adjust as needed */
                  left: 50%;
                  transform: translateX(-50%);
                  transition: width 0.3s ease-out; /* Animation duration */
                }
          
                &:hover:before {
                  width: 100%;
                }
            }
        }
        
    }
}